package pages

import "gochat/internal/templates/components"

templ Home() {
	<main>
		<h1>Welcome to Templ & HTMX!</h1>
		<p>This content is wrapped by the layout component.</p>
		@components.Content()
	</main>
}
